<div class="form-v8">
  <div class="page-content">
     <div class="form-v8-content">
      <div class="form-left">
        <img src="https://i.imgur.com/asFm7OR.png" alt="form">
      </div>
      <div class="form-right">
        <div class="tab">
          <div class="tab-inner">
            <button mat-raised-button class="tablinks" type="submit">Login</button>
          </div>
        </div>

        <div class="frame">
          <button class="custom-btn btn-12" (click)="mostrarFormulario1 = false; mostrarFormulario2 = true">
            <span>Alumno</span>
            <span>Alumno</span>
          </button>
    
          <button class="custom-btn btn-12" (click)="mostrarFormulario1 = true; mostrarFormulario2 = false">
            <span>Profesor</span>
            <span>Profesor</span>
          </button>
        </div>

        <ng-container *ngIf="mostrarFormulario1">
          <app-login-teacher></app-login-teacher>
        </ng-container>
  
        <ng-container *ngIf="mostrarFormulario2">
          <app-login-student></app-login-student>
        </ng-container>
      </div>
     </div> 
  </div>
</div>

  