<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <input matInput placeholder="Email" formControlName="email">
    <mat-error >
      Email es requerido
    </mat-error>
    <mat-error >
      Por favor, ingrese un email válido
    </mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput type="password" placeholder="Password" formControlName="password">
    <mat-error >
      Contraseña es requerida
    </mat-error>
  </mat-form-field>

  <button mat-raised-button color="primary" type="submit">Iniciar Sesión</button>
  <a [routerLink]="['/register']" routerLinkActive="router-link-active" >Registrate</a>
</form>
