<h2>Cambiar contraseña</h2>
<p>Ingresa tu nueva contraseña.</p>
<form>
  <mat-form-field appearance="fill">
    <mat-label>Nueva contraseña</mat-label>
    <input matInput type="password" name="password" [(ngModel)]="password">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Confirmar contraseña</mat-label>
    <input matInput type="password" name="confirmPassword" [(ngModel)]="confirmPassword">
  </mat-form-field>
  <button mat-button (click)="save()">Guardar</button>
  <button mat-button (click)="dialogRef.close()">Cancelar</button>
</form>