<h2 class="ranking-header">Ranking #{{ rankingId }}</h2>

<table class="ranking-table">
  <thead>
    <tr>
      <th>Posición</th>
      <th>Nombre</th>
      <th>Puntuación</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let analysis of rankingAnalises; let i = index">
      <td>{{ i + 1 }}</td>
      <td>{{ analysis.name }}</td>
      <td>{{ analysis.points }}</td>
      <td *ngIf="teacher"><button (click)="eliminarRegistro(analysis.id_rank,analysis.id_student)">Eliminar</button></td>

      <td *ngIf="teacher"><input [(ngModel)]="new_points" name="new_points" type="number"><button (click)="editarPuntos(analysis.id_rank,analysis.id_student)">Editar</button></td>
    </tr>
  </tbody>
</table>

<div *ngIf="!rankingAnalises" class="loading-message">Cargando...</div>
<div *ngIf="!rankingAnalises" class="error-message">No se encontraron datos del ranking.</div>
