.profile-link {
    text-decoration: none;
    color: #333;
  }
  
  .profile-link:hover {
    text-decoration: underline;
  }
  
  .ranking-container {
    margin-top: 20px;
  }
  
  .no-rankings-message {
    font-size: 2.0rem;
    font-weight: bolder;
    text-align: center;
    margin-top: 0rem;
    margin-bottom: 0rem;
    color:white;  
  }
  
  .rankings-message {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .rankings-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .rankings-list li {
    margin-bottom: 5px;
  }
  
  .form-group {
    margin-top: 10px;
  }
  
  .form-label {

    display: flex;
    justify-content: center;
    margin:0 auto;
    font-size: 21px;
    color:White;
  }
  
  .form-control {
    width: 40%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    margin:2rem auto;
  }
  
  .btn {
    cursor: pointer;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    transition: background-color 0.3s ease;
    display: block;
    margin: 0 auto;
  }
  
  .btn:hover {
    background-color: #0062cc;
  }
  .img, svg{
    width: 2rem !important; 
    height: 2rem !important;
  }
  .limitsContainer{
    margin: 0 auto;
    margin-left: 0px;
  }

 .ranking-container .roboimage img  , svg{
    /* display: block;
    margin: 0 auto;
    width: 30rem !important;
    height: 21rem !important; */
  }

  /* .limitsContainer {
     margin-left: 250px; 
     background-image: linear-gradient(0deg, #2b2f77 0%, #141852 50%, #070b34 100%) !important; 
  } */

   .row .col-md-8{
    margin-left: 15.62rem;
    margin-top: 5rem;
  } 

  /* content no ranking */
  