<!-- HTML -->
<div class="profile-page">
    <h1 class="page-title">Perfil de Usuario</h1>
    <div class="user-info">
      <h2>Información del Usuario</h2>
      <p><strong>Nickname:</strong> {{teacherForm.value.nickname}}</p>
      <p><strong>Nombre:</strong> {{teacherForm.value.name}}</p>
      <p><strong>Apellidos:</strong> {{teacherForm.value.surnames}}</p>
      <p><strong>Centro:</strong> {{teacherForm.value.center}}</p>
    </div>
    <div class="edit-section">
      <h2>Editar Información</h2>
      
    </div>
  </div>
  
  