.profile-link {
    text-decoration: none;
    color: #333;
  }
  
  .profile-link:hover {
    text-decoration: underline;
  }
  
  .ranking-container {
    margin-top: 20px;
  }
  
  .no-rankings-message {
    font-size: 2.0rem;
    font-weight: bolder;
    text-align: center;
    margin-top: 8rem;
    margin-bottom: 3rem;
  }
  
  .rankings-message {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  .rankings-list {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .rankings-list li {
    margin-bottom: 5px;
  }
  
  .form-group {
    margin-top: 10px;
  }
  
  .form-label {

    display: block;
    /* margin: 2rem 14rem; */
    margin:0 28rem;
    font-size: 21px;
  }
  
  .form-control {
    width: 40%;
    padding: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    margin:2rem auto;
  }
  
  .btn {
    cursor: pointer;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background-color: #007bff;
    color: #fff;
    transition: background-color 0.3s ease;
    display: block;
    margin: 0 auto;
  }
  
  .btn:hover {
    background-color: #0062cc;
  }
  .img, svg{
    width: 2rem !important; 
    height: 2rem !important;
  }
  .dinoimage .img{
    width: 2rem !important; 
    height: 2rem !important;
  }

  .limitsContainer{
    margin: 0 auto;
  }

  img , svg{
    display: block;
    margin: 0 auto;
    width: 30rem !important;
    height: 21rem !important;
  }