
<div class="bg-success p-5 rounded-5 text-secondary">


  <form [formGroup]="studentForm">
    <mat-form-field>
      <input matInput placeholder="nickname" formControlName="nickname">
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput placeholder="Email" formControlName="email">
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput type="password" placeholder="password" formControlName="password">
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput type="password" placeholder="Confirmar password" formControlName="confirmarpassword">
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput placeholder="name" formControlName="name">
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput placeholder="surnames" formControlName="surnames">
    </mat-form-field>
    <br>
    <mat-form-field>
      <input matInput placeholder="Fecha de nacimiento" formControlName="birth_date">
    </mat-form-field>
    <br>
    <div *ngIf="studentForm.get('password')?.value !== studentForm.get('confirmarpassword')?.value">
      Las passwords no coinciden.
    </div>
    <br>
    <button mat-raised-button color="primary" class="btn btn-primary" type="submit" (click)="enviar()"
    >Registrarse</button>
  </form>
  </div>
  